/mlruns
/outputs
/check_data/__pycache__
/check_data/.pytest_cache
/check_data/artifacts
/check_data/wandb
/download/wandb
/evaluate/artifacts
/evaluate/wandb
/preprocess/artifacts
/preprocess/wandb
/random_forest/artifacts
/random_forest/wandb
/segregate/artifacts
/segregate/wandb